.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: 1px solid red;
  max-width: 700px;
}

.nav-links {
  display: flex;
  width: 280px;
  border: 1px solid blue;
  justify-content: space-between;
}
